
#sec1{
    background-color: azure;
    
}

.navbar-brand > img {
    margin-left: 10px!important;
    height: 100px!important;
    margin-top: 10px!important;
    
}
.h{
    background-color: brown;
}

.ss{
    align-items: center;
}
#sec2{
    /* background-image: url(img/restuarent1.webp);
    height: 500px; */
  background-size: cover;
  background-position: center;

 
    
}
.pic1{
    background-image: url(img/brands-people-iFyLBKmCrmQ-unsplash.jpg );
    background-color: rgb(255, 255, 255);
   
    background-size: cover;

    
}
.pic2{
    background-image: url(img/pexels-rachel-claire-5531012.jpg);
  background-color: rgba(255, 255, 255, 0.747);
    background-size: cover;
    
     
}
.pic3{
    background-image: url(img/restuarent.avif);
      background-color: rgb(255, 255, 255,0.5);
    background-size: cover;
    
    
}

#sec2{
    position: relative;
}
.opa{
    background-color: #00000075;
    width: 100%;
    height: 100%;
}
.inbox-head{
    background-color:rgba(255, 255, 255, 0.637);
    height: 100px;
}
.head{
    color: rgb(29, 4, 4);
    height:500px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.ex{
    display: inline-block;
    margin-bottom: 25px;
    margin-top: 250px;
}
.para{
    
    color: rgba(255, 255, 255, 0.664);
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.box1{
    padding-top: 250px ;

    background-color: rgba(0, 0, 0, 0.507);
}
#sec3{
      background-color: rgba(197, 152, 26, 0.583);  
  
   
}
.inbox1{
    height: 400px;
    text-align: center;
   
   background-image: url(img/pexels-askar-abayev-5638748.jpg);
   background-size: cover;
   margin: 15px;
   
}
.h2{
    font-size: medium;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ei{
    height: 100px;
    background-image: url(img/pexels-aqtai-2233416.jpg);
    background-size: cover;
    color: rgba(230, 155, 15, 0.788);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.ev{
    height: 100px;
    background-image: url(img/pexels-nikiemmert-2934200.jpg);
    background-size: cover;
    color: rgba(230, 155, 15, 0.788);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.inbox2{
    height: 400px;
    text-align: center;
   
   background-image: url(img/pexels-chanwalrus-958545.jpg);
   background-size: cover;
   margin: 15px;

}
.ab{
   height: 100px;
    background-image: url(img/arabian.jpg);
    background-size: cover;
    color: rgba(230, 155, 15, 0.788);
}
.it{
   height: 100px;
    background-image: url(img/italian.jpg);
    background-size: cover;
     color: rgba(230, 155, 15, 0.788);
}
.ch{
   height: 100px;
    background-image: url(img/chinese.jpg);
    background-size: cover;
     color: rgba(230, 155, 15, 0.788);
}
.me{
   height: 100px;
    background-image: url(img/mexican.jpg);
    background-size: cover;
      color: rgba(230, 155, 15, 0.788);
}
.in{
    height: 100px;
    background-image: url(img/indian.jpg);
    background-size: cover;  
      color: rgba(230, 155, 15, 0.788);
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.container li{
    flex: 1 1 100px;
}
#sec4{
    background-color: rgba(245, 245, 245, 0.76);
}
.head1{
    color: rgba(0, 0, 0, 0.596);
    margin-top: 50px;
}
.li{
    height: 2px;
    width: 100px;
    background-color:rgba(17, 17, 17, 0.568);
    margin: auto;
   
}
.lin{
    height: 2px;
    width: 400px;
    background-color:rgba(32, 32, 32, 0.753);
   margin: auto;

}
.box2{
    background-image: url(img/reception.jpg);
    height: 500px;
    background-size: cover;
    margin-top: 10px;
}
.text1{
    padding: 50px;
    position: relative;
    min-height: 500px;
}

.paragr{
   position: absolute;
   bottom: 0px;
   left: 0px;
   /* opacity: 0; */
   visibility: hidden;
    margin-top: 15px;

}



.parahead{
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.text1:hover .parahead{
    animation-name: an1;
    animation-duration: .5s;
    top: 25px;
}
.text1:hover .paragr{
    animation-name: an2;
    animation-duration: .7s;
    top: 125px;
    /* animation-delay: .2s; */
    visibility: visible;
}

@keyframes an1{
    from{
        position: absolute;
        top: 80%;
        left: 0px; 
    }
    to{
        position: absolute;
        top: 25px;
        left: 0px; 

    }
}
@keyframes an2{
    from{
        position: absolute;
        top: 80%;
        left: 0px; 
        visibility: visible;

    }
    to{
        position: absolute;
        top: 125px;
        left: 0px; 
        /* visibility: visible; */

    }
}
#sec5{
    background-color: rgba(197, 152, 26, 0.583);
    margin-top: 5px;
}
.faq{
    text-align: center;
    height: 500px;
}
.h4{
    text-align: center;
    color: rgba(0, 0, 0, 0.486);
}
.lin1{
    height: 2px;
    width: 350px;
    background-color:rgba(32, 32, 32, 0.753);
   margin-left: auto;

}
.pool{
    color: rgba(124, 113, 68, 0.664);
    text-align: center;
    
}
.swim{
    background-image: url(img/james-wheeler-0vysUcbfYx4-unsplash.jpg);
    height: 200px;
    background-size: cover;
}
.dine{
    background-image: url(img/dine\ in.jpg);
    height: 200px;
    background-size: cover;
}
.din{
    color: rgba(124, 113, 68, 0.664);
    text-align: center;
}
.park{
    color: rgba(124, 113, 68, 0.664);
    text-align: center;
}
.parki{
    background-image: url(img/parking.jpg);
    height: 200px;
    background-size: cover;
}
.roof{
    color: rgba(124, 113, 68, 0.664);
    text-align: center;
}
.rd{
    height: 200px;
    background-size: cover;
    background-image: url(img/rooftop\ dine.jpg);
}
.H5{
    text-align: center;
    color: rgba(0, 0, 0, 0.486);
}
#sec6{
    background-color: rgba(197, 152, 26, 0.583);
    padding:25px;
}
.h6{
    text-align: center;
    color: rgba(0, 0, 0, 0.486);
}
.add{
    text-align: center;
}
.gm{
    text-align: center;
}
.co{
    text-align: center;
}
/* .log-img{
    position: absolute;
    left: 40%;
    top: 0px;

} */


.log{
    display: none;
}

@media (max-width:576px) {
    .ss{
      margin-top: 100px;
      position: relative;
    }
    .log-img{
        /* position: absolute;
        left: 0px;
        top: 0px;
        width: 50px;
        height: 50px; */
        position: static;
    }
    
}

@media (max-width:991px) {
  .log{
    display: block;
  }
  .aa{
    display: none;
  }
}
.dropdown-menu{
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
